<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.wohlsoft.adlmidiplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Player">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.mid" />
                <data android:pathPattern=".*\\..*\\.mid" />
                <data android:pathPattern=".*\\..*\\..*\\.mid" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mid" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mid" />
                <data android:pathPattern=".*\\.MID" />
                <data android:pathPattern=".*\\..*\\.MID" />
                <data android:pathPattern=".*\\..*\\..*\\.MID" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.MID" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MID" />
                <data android:pathPattern=".*\\.midi" />
                <data android:pathPattern=".*\\..*\\.midi" />
                <data android:pathPattern=".*\\..*\\..*\\.midi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.midi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.midi" />
                <data android:pathPattern=".*\\.MIDI" />
                <data android:pathPattern=".*\\..*\\.MIDI" />
                <data android:pathPattern=".*\\..*\\..*\\.MIDI" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.MIDI" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MIDI" />
                <data android:pathPattern=".*\\.rmi" />
                <data android:pathPattern=".*\\..*\\.rmi" />
                <data android:pathPattern=".*\\..*\\..*\\.rmi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.rmi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.rmi" />
                <data android:pathPattern=".*\\.RMI" />
                <data android:pathPattern=".*\\..*\\.RMI" />
                <data android:pathPattern=".*\\..*\\..*\\.RMI" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.RMI" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.RMI" />
                <data android:pathPattern=".*\\.kar" />
                <data android:pathPattern=".*\\..*\\.kar" />
                <data android:pathPattern=".*\\..*\\..*\\.kar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kar" />
                <data android:pathPattern=".*\\.KAR" />
                <data android:pathPattern=".*\\..*\\.KAR" />
                <data android:pathPattern=".*\\..*\\..*\\.KAR" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.KAR" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.KAR" />
                <data android:pathPattern=".*\\.cmf" />
                <data android:pathPattern=".*\\..*\\.cmf" />
                <data android:pathPattern=".*\\..*\\..*\\.cmf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.cmf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cmf" />
                <data android:pathPattern=".*\\.CMF" />
                <data android:pathPattern=".*\\..*\\.CMF" />
                <data android:pathPattern=".*\\..*\\..*\\.CMF" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.CMF" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.CMF" />
                <data android:pathPattern=".*\\.imf" />
                <data android:pathPattern=".*\\..*\\.imf" />
                <data android:pathPattern=".*\\..*\\..*\\.imf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.imf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.imf" />
                <data android:pathPattern=".*\\.IMF" />
                <data android:pathPattern=".*\\..*\\.IMF" />
                <data android:pathPattern=".*\\..*\\..*\\.IMF" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.IMF" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.IMF" />
                <data android:pathPattern=".*\\.mus" />
                <data android:pathPattern=".*\\..*\\.mus" />
                <data android:pathPattern=".*\\..*\\..*\\.mus" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mus" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mus" />
                <data android:pathPattern=".*\\.MUS" />
                <data android:pathPattern=".*\\..*\\.MUS" />
                <data android:pathPattern=".*\\..*\\..*\\.MUS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.MUS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MUS" />
                <data android:pathPattern=".*\\.xmi" />
                <data android:pathPattern=".*\\..*\\.xmi" />
                <data android:pathPattern=".*\\..*\\..*\\.xmi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xmi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xmi" />
                <data android:pathPattern=".*\\.XMI" />
                <data android:pathPattern=".*\\..*\\.XMI" />
                <data android:pathPattern=".*\\..*\\..*\\.XMI" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.XMI" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.XMI" />
            </intent-filter>
        </activity>

        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
